.parallaxSection {
  position: relative;
  overflow: clip;
}

.parallaxBg {
  --_brightness: 1;

  position: absolute;
  z-index: -1;

  filter: sepia(30%) hue-rotate(0deg) saturate(100%)
    brightness(var(--_brightness));
  height: 130%;
  object-fit: cover;
  object-position: 70%;
  width: 100%;
  transition: filter var(--theme-transition-duration)
    var(--theme-transition-function);
}

:global(.dark-theme) .parallaxBg {
  --_brightness: 0.8;
}
