.main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.workItemPage {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: content-start / content-end;
  background-color: var(--clr-background);
  min-height: 100svh;
}

.workItemContent {
  display: grid;
  gap: 2rem;
  grid-column: content-start / content-end;
  padding-block: 5rem 3rem;
}

.mediaLink {
  justify-self: center;
  width: min(100%, 30rem);
  display: block;
}

.mediaLink img,
.mediaLink video {
  width: 100%;
  height: auto;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
  display: block;
}

.mediaLink:hover img,
.mediaLink:hover video {
  filter: brightness(0.8);
}

.titleSection p {
  margin: 0;
  font-size: 1.5rem;
}

.role {
  color: var(--clr-text-secondary);
  font-size: var(--fs-small);
}

.sectionLabel {
  color: var(--clr-text-secondary);
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--fs-small);
}

.stackSection p,
.description p,
.link {
  margin: 0;
  font-size: var(--fs-medium);
  line-height: 1.5;
}

.description p:not(:first-of-type) {
  margin-top: 1rem;
}

.urlSection {
  display: grid;
}

.link {
  width: fit-content;
  text-decoration: underline;
  color: inherit;
}

.closeBtn {
  display: block;
  width: fit-content;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--clr-text);
  color: var(--clr-background);
  text-decoration: none;
  border-radius: 3px;
  transition: color 200ms ease;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .workItemPage {
    position: relative;
  }

  .workItemContent {
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
  }

  .mediaLink {
    position: absolute;
    bottom: var(--_body-padding-inline);
    right: 0;
    width: 35%;
  }

  .closeBtn {
    position: fixed;
    bottom: var(--_body-padding-inline);
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    color: var(--clr-text);
    margin-top: 0;
  }

  .closeBtn:hover,
  .closeBtn:focus-visible {
    color: var(--clr-accent);
    outline: none;
  }
}
