.workItemPage {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: content-start / content-end;
  background-color: var(--clr-background);
  min-height: 100svh;
}

.workItemContent {
  display: grid;
  gap: 2rem;
  grid-column: content-start / content-end;
  padding-block: 5rem 3rem;
}

.mediaLink {
  justify-self: center;
  width: min(100%, 30rem);
  display: block;
}

.mediaLink img,
.mediaLink video {
  width: 100%;
  height: auto;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
  display: block;
}

.mediaLink video {
  aspect-ratio: 4/5;
}

.mediaLink:hover img,
.mediaLink:hover video {
  filter: brightness(0.8);
}

.titleSection h1 {
  margin: 0;
  font-family: var(--ff-header);
  letter-spacing: -0.086vw;
  font-weight: 200;
}

.role {
  color: var(--clr-text-secondary);
}

.sectionLabel {
  color: var(--clr-text-secondary);
  display: block;
}

.stackSection p,
.description p,
.description ul,
.link {
  margin: 0;
  font-size: var(--fs-medium);
  line-height: 1.5;
}

.description ul {
  list-style: square;
  padding-left: 1rem;
}

.description li {
  margin-top: 0.5rem;
}

.description p:not(:first-of-type),
.description ul {
  margin-top: 1rem;
}

.urlSection {
  display: grid;
}

.link {
  width: fit-content;
  text-decoration: underline;
  color: inherit;
}

.closeBtn {
  position: fixed;
  bottom: var(--_body-padding-inline);
  right: var(--_body-padding-inline);
  padding: 0.5rem 1rem;
  background-color: var(--clr-background);
  color: var(--clr-text);
  border: 1px solid var(--clr-text);
  text-decoration: none;
  border-radius: 2px;
  transition: opacity 200ms ease;
  cursor: pointer;
  z-index: 100;
}

@media (min-width: 1000px) {
  .workItemPage {
    position: relative;
  }

  .workItemContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
  }

  .mediaLink {
    position: absolute;
    right: 0;
    width: 35%;
    max-height: 80%;
  }

  .closeBtn {
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    color: var(--clr-text);
    border: none;
    font-size: var(--fs-x-medium);
    transition: color var(--theme-transition-duration)
      var(--theme-transition-function);
  }

  .closeBtn:hover,
  .closeBtn:focus-visible {
    color: var(--clr-accent);
    opacity: 1;
    outline: none;
  }
}
