.animated-link {
  font-style: normal;
  height: 1.2em;
  letter-spacing: -1px;
  overflow: clip;
  text-transform: uppercase;
  text-decoration: none;

  &:hover span,
  &:focus-visible span {
    transform: translateY(-100%);
  }

  span {
    display: block;

    color: var(--clr-text) !important;
    transform: translateY(0);
    transition: transform 200ms ease;
  }
}
