.horizontal-line {
  border: 1px solid var(--clr-text);
  height: 1px;
  width: 100%;
}

#work {
  grid-column: content-start / content-end;

  margin-block: 14rem 5rem;

  .work__list {
    display: grid;
    gap: 1rem;

    list-style: none;
    margin: 0;
    padding: 0;

    counter-reset: work-counter;

    li {
      display: grid;
      gap: 1rem;

      cursor: pointer;

      .work__content {
        display: grid;
        gap: 1rem;

        counter-increment: work-counter;

        .work__info {
          display: grid;
          grid-template-columns: 3rem 1fr auto;

          span:first-of-type {
            grid-row: span 2;
            align-self: center;

            &::before {
              font-size: 2rem;
              content: counter(work-counter, decimal-leading-zero);
            }
          }

          svg {
            grid-row: span 2;
            align-self: center;

            height: 2rem;
            width: auto;

            path {
              fill: var(--clr-text);
            }
          }

          .work__stack {
            grid-column: 2;
            grid-row: 2;
            color: var(--clr-text-secondary);
          }
        }

        img {
          justify-self: center;
          width: min(100%, 30rem);
        }
      }
    }
  }
}

#work-item {
  display: grid;
  grid-template-columns: subgrid;

  background-color: rgba(0, 0, 0, 0.7);
  background-color: var(--clr-background);

  .work-item__content {
    display: grid;
    gap: 2rem;
    grid-column: content-start / content-end;

    padding-block: 5rem 3rem;

    a:has(img) {
      justify-self: center;
      width: min(100%, 30rem);

      img {
        filter: brightness(1);
        transition: filter 0.3s ease-in-out;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    > div {
      span {
        color: var(--clr-text-secondary);
      }

      p {
        margin: 0;
      }

      ul {
        list-style: square;
        padding-left: 1rem;

        li {
          margin-top: 0.5rem;
        }
      }

      &.work-item__description {
        p:not(:first-of-type) {
          margin-block: 1rem;
        }

        & *:last-child {
          margin-bottom: 0 !important;
        }
      }

      &.work-item__url {
        display: grid;

        a {
          width: fit-content;
        }
      }
    }
  }

  .close-btn {
    position: fixed;
    bottom: var(--_body-padding-inline);
    right: var(--_body-padding-inline);

    background-color: var(--clr-text);
    color: var(--clr-background);
    border-radius: 3px;
  }
}

@media (min-width: 1000px) {
  #work {
    display: flex;
    align-items: end;

    position: relative;

    margin-block: 0;
    padding-block: 0 var(--_body-padding-inline);

    .work__list {
      width: 50%;

      li {
        --_work-list-transition-speed: 200ms;
        --_work-list-transition-effect: ease-in-out;

        color: var(--clr-text-secondary);
        transition: color var(--_work-list-transition-speed)
          var(--_work-list-transition-effect);

        .horizontal-line {
          border-color: var(--clr-text-secondary);
          transition: border-color var(--_work-list-transition-speed)
            var(--_work-list-transition-effect);
        }

        .work__content {
          .work__info svg path {
            fill: var(--clr-text-secondary);
            transition: fill var(--_work-list-transition-speed)
              var(--_work-list-transition-effect);
          }

          img {
            display: none;

            position: absolute;
            bottom: var(--_body-padding-inline);
            right: 0;

            width: 35%;
          }
        }

        &:hover {
          color: var(--clr-text);

          .horizontal-line {
            border-color: var(--clr-text);
          }

          .work__content {
            .work__info svg path {
              fill: var(--clr-text);
            }

            img {
              display: block;
            }
          }
        }
      }
    }
  }

  #work-item {
    position: relative;

    .work-item__content {
      display: flex;
      flex-direction: column;
      justify-content: end;

      width: 50%;

      a:has(img) {
        position: absolute;
        bottom: var(--_body-padding-inline);
        right: var(--_body-padding-inline);

        width: 35%;
      }
    }

    .close-btn.navigation {
      right: 50%;
      transform: translateX(50%);

      background-color: transparent;
      color: var(--clr-text);
      border-radius: 3px;
      transition: color 200ms ease;

      &:hover {
        color: var(--clr-accent);
      }
    }
  }
}
