.mobileHeader {
  display: none;
}

@media (max-width: 810px) {
  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;

    .mobileLogo {
      color: var(--clr-text);
      text-decoration: none;
      padding: 0;
    }

    li:has(.menuBtn) {
      display: flex;
    }

    .menuBtn {
      height: 1lh;
      padding: 0;
      overflow-y: clip;
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;

      > div {
        transition: transform var(--_animation-duration, 500ms)
          var(--_animation-function, ease);
      }
    }
  }

  .open {
    transform: translateY(-100%);
  }

  .closed {
    transform: translateY(0);
  }
}
