.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 150svh;
  overflow: clip;
}

.parallaxBg {
  --_brightness: 1;

  position: absolute;
  z-index: -1;

  filter: sepia(30%) hue-rotate(0deg) saturate(100%)
    brightness(var(--_brightness));
  height: 130%;
  object-fit: cover;
  object-position: 70%;
  width: 100%;
  transition: filter var(--theme-transition-duration)
    var(--theme-transition-function);
}

:global(.dark-theme) .parallaxBg {
  --_brightness: 0.8;
}

.contact article {
  container-type: inline-size;

  background-color: var(--clr-background);
  width: min(35rem, 60%);
  aspect-ratio: 1;
  transition: background-color var(--theme-transition-duration)
    var(--theme-transition-function);
}

.contact article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 4rem;
}

.contact article p {
  font-family: var(--ff-header);
  font-size: var(--fs-large);
  margin: 0;
  text-align: center;
}

.contact article svg {
  fill: var(--clr-text);
  width: 20%;
  transition: fill var(--theme-transition-duration)
    var(--theme-transition-function);
}

.contact address {
  display: grid;
  gap: 0.25rem;

  text-align: center;
}

@container (max-width: 500px) {
  .contact article p {
    font-size: clamp(var(--fs-medium), 2.5vw + 0.5rem, var(--fs-large));
  }
}

@container (max-width: 450px) {
  .contact article > div {
    padding: 2rem;
  }
}

@media (max-width: 650px) {
  .contact article {
    width: 70vw;
  }
}

@media (max-width: 500px) {
  .contact article {
    width: calc(100vw - (2 * var(--_body-padding-inline)));
  }
}
