@font-face {
    font-family: 'Merchant-ExtraLight';
    src: url(/assets/fonts/merchant/Merchant-ExtraLight.woff);
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url(assets/fonts/pp_neue_montreal/ppneuemontreal-book.otf);
}