:root {
  --clr-neutral-100: #ecebeb;
  --clr-neutral-400: hsl(0 0 40);
  --clr-neutral-900: #161310;
  --clr-accent: #b25f3f;

  --clr-text: var(--clr-neutral-900);
  --clr-text-secondary: var(--clr-neutral-400);
  --clr-background: var(--clr-neutral-100);

  --ff-base: "Merchant-ExtraLight", "Helvetica", serif;
  --ff-secondary: "PP Neue Montreal", sans-serif;

  --fs-small: 0.9rem;
  --fs-medium: 1rem;
  --fs-large: 2rem;
  --fs-x-large: calc(100vw / 8);
}

.light-theme {
  --clr-text: var(--clr-neutral-900);
  --clr-background: var(--clr-neutral-100);

  color-scheme: light;

  header {
    filter: invert(1);
  }
}

.dark-theme {
  --clr-text: var(--clr-neutral-100);
  --clr-background: var(--clr-neutral-900);

  color-scheme: dark;

  header {
    filter: invert(0);
  }
}

button {
  background-color: transparent;
  border: none;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-base);
  overflow-x: hidden;
}

header,
footer {
  --padding: 2vh;

  font-family: var(--ff-secondary);
  font-size: var(--fs-small);
  font-weight: bold;
  letter-spacing: -1px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

header {
  position: fixed;
  top: var(--padding);
  left: var(--padding);
  right: var(--padding);
  z-index: 9999;
  mix-blend-mode: difference;

  > ul:first-of-type {
    display: none;
  }

  ul li {
    div:first-of-type {
      color: var(--clr-text-secondary);
    }

    nav ul,
    .theme-buttons {
      gap: 0.5ch;

      li a.active,
      button.active {
        cursor: default;
      }

      li:not(:has(.active)),
      button:not(.active) {
        color: var(--clr-text-secondary);
      }

      li a:not(.active):hover,
      button:not(.active):hover,
      li a:focus-visible,
      button:focus-visible {
        color: var(--clr-accent);
        outline: none;
      }
    }

    nav ul {
      li a {
        color: inherit;
        text-decoration: none;

        [aria-hidden="true"] {
          display: none;
        }
      }
    }

    .theme-buttons {
      display: flex;
    }
  }
}

#hero,
#work,
#cv,
#contact {
  min-height: 100svh;
}

#hero {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;

  img {
    width: min(50vw, 15rem);
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  h1 {
    align-self: end;
    font-size: var(--fs-x-large);
    font-weight: bold;
    letter-spacing: -0.05em;
  }
}

#work {
  background-color: var(--clr-accent);
}

#cv {
  background-color: var(--clr-background);
}

#contact {
  background-color: var(--clr-text);
}

footer {
  padding: var(--padding);

  ul li div:first-of-type {
    color: var(--clr-text-secondary);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (max-width: 810px) {
  header {
    --_padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    background-color: var(--clr-background);
    inset: 0;
    padding: var(--_padding);
    z-index: 9999;

    ul:first-of-type {
      display: flex;

      #menu-btn {
        height: calc(1em + 2px);
        overflow-y: hidden;
      }
    }

    > ul:last-of-type {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      > li:nth-of-type(3) {
        grid-row: 4;
        margin-block: 4rem 1rem;

        div {
          display: none;
        }

        nav ul {
          --_grid-gap: 3em;

          display: grid;
          grid-template-columns: 1fr;
          gap: var(--_grid-gap);

          li a {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;

            position: relative;
            font-size: var(--fs-large);

            &::before {
              content: "";
              position: absolute;
              background-color: var(--clr-text);
              height: 1px;
              width: 100%;
              translate: 0 calc(var(--_grid-gap) / -4);
            }

            &.active {
              color: var(--clr-text-secondary);
            }

            &:not(.active) {
              color: var(--clr-text);
            }

            [aria-hidden="true"] {
              display: block;
            }

            span:not([aria-hidden="true"]) {
              display: none;
            }
          }
        }
      }
    }
  }

  header[data-mobile-menu-open="false"] {
    background-color: transparent;
    bottom: auto;

    > ul:last-of-type {
      display: none;
      opacity: 0;
    }
  }

  header[data-mobile-menu-open="true"] {
    filter: none;
    mix-blend-mode: initial;

    #menu-btn > * {
      transform: translateY(calc(-1em - 3px));
    }
  }

  footer {
    min-height: 100svh;
    padding-top: 5rem;

    ul {
      display: grid;
      gap: 1em;
    }
  }
}
