:root {
  --clr-light: #ecebeb;
  --clr-dark: #161310;
  --clr-accent: #b25f3f;

  --clr-text: var(--clr-dark);
  --clr-background: var(--clr-light);

  --ff-base: "Merchant-ExtraLight", "Helvetica", serif;
  --ff-secondary: "PP Neue Montreal", sans-serif;

  --fs-small: 0.9rem;
  --fs-medium: 1rem;
  --fs-large: 2rem;
  --fs-x-large: calc(100vw / 8);
}

.darkmode {
  --clr-text: var(--clr-light);
  --clr-background: var(--clr-dark);

  color-scheme: dark;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-base);
}

nav {
  --_margin: 2vh;

  position: fixed;
  top: var(--_margin);
  left: var(--_margin);
  right: var(--_margin);
  font-family: var(--ff-secondary);
  font-size: var(--fs-small);
  font-weight: bold;
  letter-spacing: -1px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

.hero {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
  height: 100svh;

  img {
    width: 50vw;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  h1 {
    align-self: end;
    font-size: var(--fs-x-large);
    font-weight: bold;
    letter-spacing: -0.05em;
  }
}
