.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 999;
  padding: var(--_body-padding-inline);

  font-size: var(--fs-medium);
  font-weight: bold;
  letter-spacing: -1px;
  transition: background var(--theme-transition-duration)
    var(--theme-transition-function);

  ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .desktopHeader,
  .mobileHeader,
  .mobileMenu {
    transition:
      background var(--theme-transition-duration)
        var(--theme-transition-function),
      color var(--theme-transition-duration) var(--theme-transition-function);
  }

  .mobileHeader {
    display: none;
  }

  .desktopHeader li,
  .mobileMenuList li {
    > div:first-of-type {
      color: var(--clr-text-secondary);
    }

    nav ul,
    .theme-buttons {
      display: flex;
      gap: 0.5ch;

      li a.active,
      button.active {
        cursor: default;
      }

      li:not(:has(.active)),
      button:not(.active) {
        color: var(--clr-text-secondary);
      }
    }

    nav ul {
      li a {
        color: inherit;
        text-decoration: none;

        [aria-hidden="true"] {
          display: none;
        }
      }
    }

    .theme-buttons button {
      padding: 0;
    }
  }

  &
    .desktopHeader
    nav
    ul
    li:not(:last-of-type)
    a
    [aria-hidden="true"]
    + span:last-of-type::after,
  .mobileMenuList > li:nth-of-type(3) div button:not(:last-of-type)::after {
    content: ",";
    display: inline-block;
  }
}

.header nav ul li a:not(.active):hover,
.header .theme-buttons button:not(.active):hover,
.header nav ul li a:focus-visible,
.header .theme-buttons button:focus-visible {
  color: var(--clr-accent) !important;
  outline: none;
  transition: color 500ms ease;
}

@media (max-width: 810px) {
  .header {
    --_padding: 2vh;
    --_animation-duration: 500ms;
    --_animation-function: ease;

    position: fixed;
    background-color: var(--clr-background);
    inset: 0;
    padding: var(--_padding);
    z-index: 999;
    height: auto;

    transition:
      background-color var(--theme-transition-duration)
        var(--theme-transition-function),
      color var(--theme-transition-duration) var(--theme-transition-function);

    .desktopHeader {
      display: none;
    }

    .mobileHeader {
      display: flex;
      align-items: center;

      .mobileLogo {
        color: var(--clr-text);
        text-decoration: none;
        padding: 0;
      }

      li:has(.menuBtn) {
        display: flex;
      }

      .menuBtn {
        height: 1lh;
        padding: 0;
        overflow-y: clip;
        display: flex;
        flex-direction: column;

        > div {
          transition: transform var(--_animation-duration)
            var(--_animation-function);
        }
      }
    }

    .mobileMenu {
      position: fixed;
      inset: 0;
      background-color: var(--clr-background);
      padding: var(--_padding);
      padding-top: calc(var(--_padding) + 4rem);
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .mobileMenuList {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      > li {
        overflow: hidden;
      }

      .mobileNav {
        margin-top: 2rem;

        > div {
          display: none;
        }

        nav ul {
          display: grid;
          grid-template-columns: 1fr;
          gap: 0;

          counter-reset: menu-counter;

          li {
            overflow: visible;
          }

          li a {
            position: relative;
            font-size: var(--fs-large);
            counter-increment: menu-counter;

            > span {
              display: grid;
              grid-template-columns: auto 1fr;
              gap: 1em;

              [aria-hidden="true"] {
                display: block;
              }

              [aria-hidden="true"]::before {
                content: counter(menu-counter, decimal-leading-zero);
              }
            }
          }
        }
      }
    }

    .horizontalLine {
      border: 1px solid var(--clr-text);
      height: 1px;
      width: 100%;
      margin-block: 1.5em;

      &:has(.mobileNav li:last-of-type):last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .header[data-mobile-menu-open="false"] {
    bottom: auto;

    .menuBtn > div {
      transform: translateY(0);
    }
  }

  .header[data-mobile-menu-open="true"] {
    background-color: var(--clr-background) !important;
    bottom: 0;

    .menuBtn > div {
      transform: translateY(-100%);
    }
  }
}

@media (min-width: 1000px) {
  .header {
    font-size: var(--fs-x-medium);
  }
}
