.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 999;
  padding: var(--_body-padding-inline);

  font-size: var(--fs-medium);
  font-weight: bold;
  letter-spacing: -1px;
  transition:
    background var(--theme-transition-duration) var(--theme-transition-function),
    color var(--theme-transition-duration) var(--theme-transition-function);
}

@media (min-width: 1000px) {
  .header {
    font-size: var(--fs-x-medium);
  }
}
