.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 150svh;
  overflow: clip;

  > img {
    position: absolute;
    inset: 0;
    z-index: -1;

    filter: sepia(30%) hue-rotate(0deg) saturate(100%) brightness(1.2);
    height: 120%;
    width: 100%;
  }

  > article {
    container-type: inline-size;

    background-color: var(--clr-background);
    width: min(35rem, 60%);
    aspect-ratio: 1;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      height: 100%;
      padding: 4rem;
    }

    p {
      font-family: var(--ff-header);
      font-size: var(--fs-large);
      margin: 0;
      text-align: center;
    }

    svg {
      fill: var(--clr-text);
      width: 20%;
    }

    address {
      display: grid;
      gap: 0.25rem;

      text-align: center;

      a {
        color: inherit;
        font-style: normal;
        height: 1.2em;
        letter-spacing: -1px;
        overflow: clip;
        text-transform: uppercase;
        text-decoration: none;

        &:hover span,
        &:focus-visible span {
          transform: translateY(-100%);
        }

        span {
          display: block;

          transform: translateY(0);
          transition: transform 200ms ease;
        }
      }
    }
  }
}

body:is(.dark-theme) .contact > img {
  filter: sepia(30%) hue-rotate(0deg) saturate(100%) brightness(1);
}

@container (max-width: 500px) {
  .contact {
    > article p {
      font-size: clamp(var(--fs-medium), 2.5vw + 0.5rem, var(--fs-large));
    }
  }
}

@container (max-width: 450px) {
  .contact {
    > article > div {
      padding: 2rem;
    }
  }
}

@media (max-width: 650px) {
  .contact {
    > article {
      width: 70vw;
    }
  }
}

@media (max-width: 500px) {
  .contact {
    > article {
      width: calc(100vw - (2 * var(--_body-padding-inline)));
    }
  }
}

@media (max-width: 1100px) {
  .contact {
    > img {
      max-width: none;
      width: unset;
    }
  }
}
