@font-face {
  font-family: "Merchant-ExtraLight";
  src: url(../fonts/merchant/Merchant-ExtraLight.woff);
}

@font-face {
  font-family: "PP Neue Montreal-Book";
  src: url(../fonts/pp_neue_montreal/ppneuemontreal-book.otf);
}
