.work {
  grid-column: content-start / content-end;
  margin-block: 14rem 5rem;
}

.workList {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: work-counter;
}

.workItem {
  --_margin: 1.25rem;
  --initial-y: 20%;

  cursor: pointer;

  a {
    display: grid;
    gap: var(--_margin);
    overflow: clip;
    padding-block: var(--_margin);
  }
}

.horizontalLine {
  border: 1px solid var(--clr-text);
  width: 100%;
}

.workContent {
  counter-increment: work-counter;
  text-decoration: none;
  color: inherit;
}

.workInfo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.5rem;
}

.workInfo span:first-of-type {
  grid-row: span 2;
  align-self: center;
}

.workInfo span:first-of-type::before {
  font-size: 1.5rem;
  content: counter(work-counter, decimal-leading-zero);
}

.title {
  justify-self: start;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.arrowIcon {
  grid-row: span 2;
  align-self: center;
  height: 1rem;
  width: auto;
}

.arrowIcon path {
  fill: var(--clr-text);
}

.stack {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  color: var(--clr-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  min-width: 0;
}

.media {
  justify-self: center;
  width: min(100%, 30rem);
  height: auto;
  display: block;
}

.mediaInner {
  width: 100%;
  height: 100%;
}

.mediaInner video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .work {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-block: 0;
    padding-block: 0 var(--_body-padding-inline);
    min-height: 100svh;
  }

  .workList {
    width: 50%;
  }

  .workItem {
    --_work-list-transition-speed: var(--theme-transition-duration);
    --_work-list-transition-effect: var(--theme-transition-function);
    --media-opacity: 0;
    --initial-y: 100%;

    color: var(--clr-text-secondary);
    transition: color var(--_work-list-transition-speed)
      var(--_work-list-transition-effect);

    a {
      --_margin: 0.75rem;
    }
  }

  .workItem .horizontalLine {
    border-color: var(--clr-text-secondary);
    transition: border-color var(--_work-list-transition-speed)
      var(--_work-list-transition-effect);
  }

  .workItem .workContent .workInfo svg path {
    fill: var(--clr-text-secondary);
    transition: fill var(--_work-list-transition-speed)
      var(--_work-list-transition-effect);
  }

  .workItem .media {
    pointer-events: none;
    position: absolute;
    bottom: var(--_body-padding-inline);
    right: 0;
    width: 35%;
    max-height: 80%;
  }

  .mediaInner {
    transition: opacity var(--_work-list-transition-speed)
      var(--_work-list-transition-effect);
    opacity: var(--media-opacity);
  }

  .workItem.active {
    color: var(--clr-text);
    --media-opacity: 1;
  }

  .workItem.active .horizontalLine {
    border-color: var(--clr-text);
  }

  .workItem.active .workContent {
    outline: none;
  }

  .workItem.active .workInfo svg path {
    fill: var(--clr-text);
  }
}
